body{
	font: 20px monospace;
	background: url(back.png);
}

.container{
	width: 960px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 50px;
}


form{
	width: 500px;
	margin: 0 auto;
}

label{
	width: 250px;
	text-align: center;
	margin: 20px auto;
	display: table;
}

input{
	height: 20px;
	font-size: 18px;
}

textarea{
	font-size: 18px;	
}

.formError {
  position: relative;
  z-index: 1;
  padding: 10px;
  border-radius: 10px;
  color: white;
  width: 235px;
  text-align: center; 
  font-size: 12px;
  background: RGB(194, 46, 79);
}

.formError::after {
    content: '';
    border-bottom: 15px solid RGB(194, 46, 79);
		border-right: 15px solid transparent;
		border-left: 15px solid transparent;
		position: absolute;
		left: 45%;
		top: -14px;
}

button{
	display: inline-block;
	padding: 8px;
	width: 160px;
	border-radius: 5px;
	border: 0;
	box-shadow: 0 0 2px;
	color: white;
	background: RGB(166, 204, 196);
	font-size: 15px;
}
